<h4>
  <a id="user-content-observables-rxjs-questions" class="anchor" aria-hidden="true" href="#observables-rxjs-questions">
  </a>Observables RxJS Questions:</h4>
<ul>
  <div>What is the difference between an observable and a promise?</div>
  <div>What is the difference between an observable and a subject?</div>
  <div>What are some of the angular apis that are using observables?</div>
  <div>How would you cache an observable data?</div>
  <div>How would you implement a multiple api calls that needs to happen in order using rxjs?
  </div>
  <div>What is the difference between switchMap, concatMap and mergeMap?</div>
  <div>How would you make sure an api call that needs to be called only once but with multiple
    conditions.
    Example: if you need
    to get some data in multiple routes but, once you get it, you can reuse it in the routes that needs it,
    therefor no
    need
    to make another call to your backend apis.</div>
  <div>How would you implement a
    <a href="https://bl.ocks.org/mbostock/34f08d5e11952a80609169b7917d4172" rel="nofollow">brush
      behavior</a> using
    rxjs?</div>
  <div>How would you implement a color picker with rxjs?</div>
  <div>If you need to respond to two different Observable/Subject with one callback
    function, how would you
    do it?(ex: if you
    need to change the url through route parameters and with prev/next buttons).</div>
  <div>What is the difference between
    <code>scan()</code> vs
    <code>reduce()</code> ?</div>
</ul>