<h4>
  <a id="user-content-styling-questions" class="anchor" aria-hidden="true" href="#styling-questions">
  </a>Styling Questions:</h4>
<ul>
  <div>How would you select a custom component to style it.</div>
  <div>What pseudo-class selector targets styles in the element that hosts the component?
  </div>
  <div>How would you select all the child components' elements?</div>
  <div>How would you select a css class in any ancestor of the component host element, all the way up
    to
    the document root?</div>
  <div>What selector force a style down through the child component tree into all the child
    component
    views?</div>
  <div>What does :host-context() pseudo-class selector targets?</div>
  <div>What does the following css do?</div>
</ul>
<div class="highlight highlight-source-css">
  <pre>:host-context(<span class="pl-e">.theme-light</span>) <span class="pl-ent">h2</span> {{ '{' }}
    <span class="pl-c1"><span class="pl-c1">background-color</span></span>: <span class="pl-c1">red</span>;
    {{ '}' }}</pre>
</div>