<h4>
  <a id="user-content-ngmodules-questions" class="anchor" aria-hidden="true" href="#ngmodules-questions">
  </a>NgModules Questions:</h4>
<ul>
  <aiq-question>What is the purpose of NgModule?</aiq-question>
  <aiq-question>How do you decide to create a new NgModule?</aiq-question>
  <aiq-question>What are the attributes that you can define in an NgModule annotation?</aiq-question>
  <aiq-question>What is the difference between a module's forRoot() and forChild() methods and why do you need it?</aiq-question>
  <aiq-question>What would you have in a shared module?</aiq-question>
  <aiq-question>What would you not put shared module?</aiq-question>
  <aiq-question>What module would you put a singleton service whose instance will be shared throughout the application (e.g. ExceptionService
    andLoggerService)?
  </aiq-question>
  <aiq-question>What is the purpose of exports in a NgModule?</aiq-question>
  <aiq-question>What is the difference between exports and declerations in NgModule?</aiq-question>
  <aiq-question>Why is it bad if SharedModule provides a service to a lazy loaded module?</aiq-question>
</ul>