<h4>
  <a id="user-content-performance-questions" class="anchor" aria-hidden="true" href="#performance-questions">
  </a>Performance Questions:</h4>
<ul>
  <aiq-question-li>What are some of the things that you pay attention to, to make sure your angular application is
    performant?</aiq-question-li>
  <aiq-question-li>What tools would you use to find a performance issue in your code?</aiq-question-li>
  <aiq-question-li>What tools have you used to improve the performance of your application?</aiq-question-li>
  <aiq-question-li>What are some ways you may improve your website's scrolling performance?</aiq-question-li>
  <aiq-question-li>Explain the difference between layout, painting and compositing.</aiq-question-li>
  <aiq-question-li>Have you seen Jeff Cross's NgCruise talk on performance?</aiq-question-li>
</ul>