<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body class="logged-out env-production page-responsive page-blob">
    <article class="markdown-body entry-content p-3 p-md-6" itemprop="text">
        <h4>
            <a id="user-content-general-questions" class="anchor" aria-hidden="true" href="#general-questions">
            </a>General Questions:
        </h4>
        <ul>
            <li>What did you learn about Angular yesterday/this week?</li>
            <li>What are some of the reasons you would choose to use Angular in your project?</li>
            <li>What did you like about working with Angular?</li>
            <li>How do you keep your Angular code more readable and maintainable?</li>
            <li>What does testable code mean to you in context of Angular?</li>
            <li>What does reusable code mean to you in context of Angular?</li>
        </ul>
        <h4>
            <a id="user-content-animations-questions" class="anchor" aria-hidden="true" href="#animations-questions">

            </a>Animations Questions:
        </h4>
        <ul>
            <li>How do you define transition between two states in Angular?</li>
            <li>How do you define a wildcard state?</li>
        </ul>
        <h4>
            <a id="user-content-architecture-questions" class="anchor" aria-hidden="true" href="#architecture-questions">

            </a>Architecture Questions:
        </h4>
        <ul>
            <li>What is a good use case for ngrx/store?</li>
            <li>What is a good use case for ngrx/entity?</li>
            <li>Can you talk about a bug related to a race condition, how to solve it and how to test it?</li>
            <li>What is the difference between a smart/container component and dumb/presentational component? What is a good use case example? What are the advantages?</li>
        </ul>
        <h4>
            <a id="user-content-api-questions" class="anchor" aria-hidden="true" href="#api-questions">

            </a>API Questions:
        </h4>
        <ul>
            <li>What does this code do:</li>
        </ul>
        <div class="highlight highlight-source-ts">
            <pre>@<span class="pl-en">HostBinding</span>(<span class="pl-s"><span class="pl-pds">'</span>class.valid<span class="pl-pds">'</span></span>) <span class="pl-smi">isValid</span>;</pre>
        </div>
        <div class="highlight highlight-text-html-basic">
            <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">*ngIf</span>=<span class="pl-s"><span class="pl-pds">'</span>someObservableData | async as data; else loading<span class="pl-pds">'</span></span>&gt;{{data}}&lt;/<span class="pl-ent">div</span>&gt;

&lt;<span class="pl-ent">ng-template</span> <span class="pl-e">#loading</span>&gt;
Loading Data...
&lt;/<span class="pl-ent">ng-template</span>&gt;</pre>
        </div>
        <ul>
            <li>Why would you use renderer methods instead of using native element methods?</li>
            <li>How would you control size of an element on resize of the window in a component?</li>
            <li>What would be a good use for NgZone service?</li>
            <li>What are the bootstrap options for NgZone? Why would you use them? (Angular 5+)</li>
            <li>How would you protect a component being activated through the router?</li>
            <li>How would you insert an embedded view from a prepared <code>TemplateRef</code>?</li>
            <li>What is the difference between @ViewChild() and @ContentChild()</li>
        </ul>
        <h4>
            <a id="user-content-template-syntax-questions" class="anchor" aria-hidden="true" href="#template-syntax-questions">

            </a>Template Syntax Questions:
        </h4>
        <ul>
            <li>How can you add an active class to a selected element in a list component?</li>
            <li>What is a template variable. How would you use it?</li>
            <li>What is the difference of using a property binding verses a function binding on a template?</li>
            <li>What happens if you subscribe to a data source multiple times with async pipe?</li>
            <li>What is the difference between ng-content, ng-container and ng- template?</li>
            <li>When you create a data-binding in Angular, are you working with attributes or properties? What is the difference anyway?</li>
            <li>When can you omit the brackets in template binding?</li>
        </ul>
        <h4>
            <a id="user-content-component-questions" class="anchor" aria-hidden="true" href="#component-questions">

            </a>Component Questions:
        </h4>
        <ul>
            <li>What is the minimum definition of a component?</li>
            <li>What is the difference between a component and a directive?</li>
            <li>How do components communicate with each other?</li>
            <li>How do you create two way data binding in Angular?</li>
            <li>How would you create a component to display error messages throughout your application?</li>
            <li>What does a lean component mean to you?</li>
        </ul>
        <h4>
            <a id="user-content-component-interaction--state-management-questions" class="anchor" aria-hidden="true" href="#component-interaction--state-management-questions">

            </a>Component Interaction &amp; State Management Questions:
        </h4>
        <ul>
            <li>How would you pass data from a parent component to a child component?</li>
            <li>How would you pass data from a child component to a parent component?</li>
            <li>Which components will be notified when an event is emitted?</li>
            <li>Tell me about the different ways how you would get data to your components from a service and talk about why would you use one way vs the other?</li>
            <li>How would you use cached data?</li>
        </ul>
        <h4>
            <a id="user-content-forms-questions" class="anchor" aria-hidden="true" href="#forms-questions">

            </a>Forms Questions:
        </h4>
        <ul>
            <li>When do you use template driven vs model driven forms? Why?</li>
            <li>How do you submit a form?</li>
            <li>What's the difference between <code>NgForm</code>, <code>FormGroup</code>, and <code>FormControl</code>? How do they work together?</li>
            <li>What's the advantage of using <code>FormBuilder</code>?</li>
            <li>How do you add form validation to a form built with <code>FormBuilder</code>?</li>
            <li>What's the difference between <code>dirty</code>, <code>touched</code>, and <code>pristine</code> on a form element?</li>
            <li>How can you access validation errors in the template to display error messages?</li>
            <li>What is async validation and how is it done?</li>
        </ul>
        <h4>
            <a id="user-content-ngmodules-questions" class="anchor" aria-hidden="true" href="#ngmodules-questions">

            </a>NgModules Questions:
        </h4>
        <ul>
            <li>What is the purpose of NgModule?</li>
            <li>How do you decide to create a new NgModule?</li>
            <li>What are the attributes that you can define in an NgModule annotation?</li>
            <li>What is the difference between a module's forRoot() and forChild() methods and why do you need it?</li>
            <li>What would you have in a shared module?</li>
            <li>What would you not put shared module?</li>
            <li>What module would you put a singleton service whose instance will be shared throughout the application (e.g. ExceptionService andLoggerService)?</li>
            <li>What is the purpose of exports in a NgModule?</li>
            <li>What is the difference between exports and declarations in NgModule?</li>
            <li>Why is it bad if SharedModule provides a service to a lazy loaded module?</li>
        </ul>
        <h4>
            <a id="user-content-services-questions" class="anchor" aria-hidden="true" href="#services-questions">

            </a>Services Questions:
        </h4>
        <ul>
            <li>What is the use case of services?</li>
            <li>How are the services injected to your application?</li>
            <li>How do you unit test a service with a dependency?</li>
            <li>Why is it a bad idea to create a new service in a component like the one below?</li>
        </ul>
        <div class="highlight highlight-source-ts">
            <pre><span class="pl-k">let</span> service <span class="pl-k">=</span> <span class="pl-k">new</span> <span class="pl-en">DataService</span>();</pre>
        </div>
        <h4>
            <a id="user-content-structural-directives-questions" class="anchor" aria-hidden="true" href="#structural-directives-questions">

            </a>Structural Directives Questions:
        </h4>
        <ul>
            <li>What is a structural directive?</li>
            <li>How do you identify a structural directive in html?</li>
            <li>When creating your own structural directives, how would you decide on hiding or removing an element? What would be the advantages or disadvantages of choosing one method rather than the other?</li>
        </ul>
        <h4>
            <a id="user-content-style-guide-questions" class="anchor" aria-hidden="true" href="#style-guide-questions">

            </a>Style Guide Questions:
        </h4>
        <ul>
            <li>What are some of the Angular Style Guide suggestions you follow on your code? Why?</li>
            <li>Is it important to have a style guide? Why/not?</li>
        </ul>
        <h4>
            <a id="user-content-styling-questions" class="anchor" aria-hidden="true" href="#styling-questions">

            </a>Styling Questions:
        </h4>
        <ul>
            <li>How would you select a custom component to style it.</li>
            <li>What pseudo-class selector targets styles in the element that hosts the component?</li>
            <li>How would you select all the child components' elements?</li>
            <li>How would you select a css class in any ancestor of the component host element, all the way up to the document root?</li>
            <li>What selector force a style down through the child component tree into all the child component views?</li>
            <li>What does :host-context() pseudo-class selector targets?</li>
            <li>What does the following css do?</li>
        </ul>
        <div class="highlight highlight-source-css">
            <pre>:host-context(<span class="pl-e">.theme-light</span>) <span class="pl-ent">h2</span> {
            <span class="pl-c1"><span class="pl-c1">background-color</span></span>: <span class="pl-c1">red</span>;
}</pre>
        </div>
        <h4>
            <a id="user-content-lifecycle-hooks-questions" class="anchor" aria-hidden="true" href="#lifecycle-hooks-questions">

            </a>Lifecycle Hooks Questions:
        </h4>
        <ul>
            <li>What is the possible order of lifecycle hooks.</li>
            <li>When will ngOnInit be called?</li>
            <li>How would you make use of ngOnInit()?</li>
            <li>What would you consider a thing you should be careful doing on ngOnInit()?</li>
            <li>What is the difference between ngOnInit() and constructor() of a component?</li>
            <li>What is a good use case for ngOnChanges()?</li>
        </ul>
        <h4>
            <a id="user-content-observables-rxjs-questions" class="anchor" aria-hidden="true" href="#observables-rxjs-questions">

            </a>Observables RxJS Questions:
        </h4>
        <ul>
            <li>What is the difference between an observable and a promise?</li>
            <li>What is the difference between an observable and a subject?</li>
            <li>What are some of the angular apis that are using observables?</li>
            <li>How would you cache an observable data?</li>
            <li>How would you implement a multiple api calls that needs to happen in order using rxjs?</li>
            <li>What is the difference between switchMap, concatMap and mergeMap?</li>
            <li>How would you make sure an api call that needs to be called only once but with multiple conditions. Example: if you need to get some data in multiple routes but, once you get it, you can reuse it in the routes that needs it, therefor no need to make another call to your backend apis.</li>
            <li>How would you implement a <a href="https://bl.ocks.org/mbostock/34f08d5e11952a80609169b7917d4172" rel="nofollow">brush behavior</a> using rxjs?</li>
            <li>How would you implement a color picker with rxjs?</li>
            <li>If you need to respond to two different Observable/Subject with one callback function, how would you do it?(ex: if you need to change the url through route parameters and with prev/next buttons).</li>
            <li>What is the difference between <code>scan()</code> vs <code>reduce()</code> ?</li>
        </ul>
        <h4>
            <a id="user-content-performance-questions" class="anchor" aria-hidden="true" href="#performance-questions">

            </a>Performance Questions:
        </h4>
        <ul>
            <li>What are some of the things that you pay attention to, to make sure your angular application is performant?</li>
            <li>What tools would you use to find a performance issue in your code?</li>
            <li>What tools have you used to improve the performance of your application?</li>
            <li>What are some ways you may improve your website's scrolling performance?</li>
            <li>Explain the difference between layout, painting and compositing.</li>
            <li>Have you seen Jeff Cross's NgCruise talk on performance?</li>
        </ul>
        <h4>
            <a id="user-content-pipes-questions" class="anchor" aria-hidden="true" href="#pipes-questions">

            </a>Pipes Questions:
        </h4>
        <ul>
            <li>What is a pure pipe?</li>
            <li>What is an async pipe?</li>
            <li>What kind of data can be used with async pipe?</li>
            <li>How do you create a custom pipe?</li>
            <li>How does async pipe prevents memory leeks?</li>
            <li>What is the difference between pure and impure pipes?</li>
        </ul>
        <h4>
            <a id="user-content-router-questions" class="anchor" aria-hidden="true" href="#router-questions">

            </a>Router Questions:
        </h4>
        <ul>
            <li>What is the difference between RouterModule.forRoot() vs RouterModule.forChild()?  Why is it important?</li>
            <li>How does loadChildren property work?</li>
            <li>Do you need a Routing Module? Why/not?</li>
            <li>When does a lazy loaded module is loaded?</li>
            <li>Below link doesn't work. Why? How do I fix it?</li>
        </ul>
        <div class="highlight highlight-text-html-basic">
            <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">routerLink</span>=<span class="pl-s"><span class="pl-pds">'</span>product.id<span class="pl-pds">'</span></span>&gt;&lt;/<span class="pl-ent">div</span>&gt;</pre>
        </div>
        <ul>
            <li>Can you explain the difference between ActivatedRoute and RouterState?</li>
            <li>How do you debug router?</li>
            <li>Why do we need route guards?</li>
            <li>What is a RouterOutlet?</li>
        </ul>
        <h4>
            <a id="user-content-security-questions" class="anchor" aria-hidden="true" href="#security-questions">

            </a>Security Questions:
        </h4>
        <h4>
            <a id="user-content-testing-questions" class="anchor" aria-hidden="true" href="#testing-questions">

            </a>Testing Questions:
        </h4>
        <ul>
            <li>What are some of the different tests types you can write?</li>
            <li>How do you mock a service to inject in an integration test?</li>
            <li>How do you mock a module in an integration test?</li>
            <li>How do you test a component that has a dependency to an async service?</li>
            <li>What is the difference between 'async()' and 'fakeAsync()'?</li>
        </ul>
        <h4>
            <a id="user-content-typescript-questions" class="anchor" aria-hidden="true" href="#typescript-questions">

            </a>TypeScript Questions:
        </h4>
        <ul>
            <li>Why do you need type definitions?</li>
            <li>How would you define a custom type?</li>
            <li>What is the difference between an Interface and a Class?</li>
            <li>First line below gives compile error, second line doesn't. Why?</li>
        </ul>
        <div class="highlight highlight-source-ts">
            <pre><span class="pl-smi">someService</span>.<span class="pl-en">someMethod</span>(<span class="pl-smi">x</span>);
<span class="pl-smi">someService</span>[<span class="pl-s"><span class="pl-pds">'</span>someMethod<span class="pl-pds">'</span></span>](<span class="pl-smi">x</span>);</pre>
        </div>
        <ul>
            <li>What are Discriminated union types?</li>
            <li>How do you define Object of Objects type in typescript?</li>
            <li>How can you capture the 'type' the user provides (e.g. number), so that we can use that information later.</li>
        </ul>
        <h4>
            <a id="user-content-javascript-questions" class="anchor" aria-hidden="true" href="#javascript-questions">

            </a>JavaScript Questions:
        </h4>
        <ul>
            <li>Explain the difference between var, let and const key words.</li>
            <li>Could you make sure a const value is garbage collected?</li>
            <li>Explain Object.assign and possible use cases.</li>
            <li>Explain Object.freeze and possible use cases.</li>
            <li>Explain the code below. How many times the createVal function is called?</li>
        </ul>
        <div class="highlight highlight-source-ts">
            <pre><span class="pl-k">function</span> createVal(){
            <span class="pl-k">return</span> <span class="pl-c1">Math</span>.<span class="pl-c1">random</span>();
};

<span class="pl-k">function</span> fun( <span class="pl-v">val</span> <span class="pl-k">=</span>  <span class="pl-en">createVal</span>()){
            <span class="pl-c"><span class="pl-c">//</span> Do something with val...</span>
}

<span class="pl-en">fun</span>();
<span class="pl-en">fun</span>(<span class="pl-c1">5</span>);
</pre>
        </div>
        <ul>
            <li>What is the spread operator doing in this function call? Seriously!</li>
        </ul>
        <pre><code>doStuff(...args);
</code></pre>
        <h4>
            <a id="user-content-coding-questions" class="anchor" aria-hidden="true" href="#coding-questions">

            </a>Coding Questions:
        </h4>
        <ul>
            <li>What would these components render?</li>
        </ul>
        <div class="highlight highlight-source-ts">
            <pre><span class="pl-k">import</span> { <span class="pl-smi">Component</span>, <span class="pl-smi">ContentChildren</span>, <span class="pl-smi">Directive</span>, <span class="pl-smi">Input</span>, <span class="pl-smi">QueryList</span> } <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'</span>@angular/core<span class="pl-pds">'</span></span>;

@<span class="pl-en">Directive</span>({selector: <span class="pl-s"><span class="pl-pds">'</span>pane<span class="pl-pds">'</span></span>})
<span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">Pane</span> {
@<span class="pl-en">Input</span>() id<span class="pl-k">:</span> <span class="pl-c1">string</span>;
}

@<span class="pl-en">Component</span>({
selector: <span class="pl-s"><span class="pl-pds">'</span>tab<span class="pl-pds">'</span></span>,
template: <span class="pl-s"><span class="pl-pds">`</span></span>
<span class="pl-s">    &lt;div&gt;panes: {{serializedPanes}}&lt;/div&gt;</span>
<span class="pl-s">  <span class="pl-pds">`</span></span>
})
<span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">Tab</span> {
@<span class="pl-en">ContentChildren</span>(<span class="pl-smi">Pane</span>) panes<span class="pl-k">:</span> <span class="pl-en">QueryList</span>&lt;<span class="pl-en">Pane</span>&gt;;
            <span class="pl-k">get</span> serializedPanes()<span class="pl-k">:</span> <span class="pl-c1">string</span> { <span class="pl-k">return</span> <span class="pl-c1">this</span>.<span class="pl-smi">panes</span> <span class="pl-k">?</span> <span class="pl-c1">this</span>.<span class="pl-smi">panes</span>.<span class="pl-en">map</span>(<span class="pl-v">p</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">p</span>.<span class="pl-c1">id</span>).<span class="pl-c1">join</span>(<span class="pl-s"><span class="pl-pds">'</span>, <span class="pl-pds">'</span></span>) <span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span><span class="pl-pds">'</span></span>; }
}

@<span class="pl-en">Component</span>({
selector: <span class="pl-s"><span class="pl-pds">'</span>example-app<span class="pl-pds">'</span></span>,
template: <span class="pl-s"><span class="pl-pds">`</span></span>
<span class="pl-s">    &lt;tab&gt;</span>
<span class="pl-s">      &lt;pane id="1"&gt;&lt;/pane&gt;</span>
<span class="pl-s">      &lt;pane id="2"&gt;&lt;/pane&gt;</span>
<span class="pl-s">      &lt;pane id="3" *ngIf="shouldShow"&gt;&lt;/pane&gt;</span>
<span class="pl-s">    &lt;/tab&gt;</span>
<span class="pl-s">    &lt;button (click)="show()"&gt;Show 3&lt;/button&gt;</span>
<span class="pl-s">  <span class="pl-pds">`</span></span>,
})
<span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">ContentChildrenComp</span> {
shouldShow <span class="pl-k">=</span> <span class="pl-c1">false</span>;
show() { <span class="pl-c1">this</span>.<span class="pl-smi">shouldShow</span> <span class="pl-k">=</span> <span class="pl-c1">true</span>; }
}</pre>
        </div>
        <h4>
            <a id="user-content-fun-questions" class="anchor" aria-hidden="true" href="#fun-questions">

            </a>Fun Questions:
        </h4>
        <ul>
            <li>What's a cool project that you've recently worked on?</li>
            <li>What are some things you like about the developer tools you use?</li>
            <li>Who inspires you in the angular community?</li>
            <li>Do you have any pet projects? What kind?</li>
            <li>How did you design the architecture of your project?</li>
            <li>What's your favorite feature of Angular?</li>
            <li>What is your least favorite thing about Angular? (Please share your thoughts by making a pull request to <a href="https://github.com/Yonet/Angular-Interview-Questions/blob/master/angularFeelings.md">angularFeelings</a>)</li>
            <li>How do you like your coffee?</li>
            <li>If you could decide on a new feature for angular, what would it be?</li>
        </ul>
    </article>
</body>
</html>

