<h4>
  <a id="user-content-lifecycle-hooks-questions" class="anchor" aria-hidden="true" href="#lifecycle-hooks-questions">
  </a>Lifecycle Hooks Questions:</h4>
<ul>
  <div>What is the possible order of lifecycle hooks.</div>
  <div>When will ngOnInit be called?</div>
  <div>How would you make use of ngOnInit()?</div>
  <div>What would you consider a thing you should be careful doing on ngOnInit()?</div>
  <div>What is the difference between ngOnInit() and constructor() of a component?
  </div>
  <div>What is a good use case for ngOnChanges()?</div>
</ul>