<h4>
  <a id="user-content-lifecycle-hooks-questions" class="anchor" aria-hidden="true" href="#lifecycle-hooks-questions">
  </a>Lifecycle Hooks Questions:</h4>
<ul>
  <aiq-question>What is the possible order of lifecycle hooks.</aiq-question>
  <aiq-question>When will ngOnInit be called?</aiq-question>
  <aiq-question>How would you make use of ngOnInit()?</aiq-question>
  <aiq-question>What would you consider a thing you should be careful doing on ngOnInit()?</aiq-question>
  <aiq-question>What is the difference between ngOnInit() and constructor() of a component?
  </aiq-question>
  <aiq-question>What is a good use case for ngOnChanges()?</aiq-question>
</ul>