<style>
  .unanswered {
    color: darkred;
  }
</style>


<li [class.unanswered]="unanswered" class="list-group-item list-group-item-secondary">{{qna.question.Text}}

  <div id="answer">

    <aiq-code-snippets [snippets]="qna.question.Snippets"></aiq-code-snippets>

    <div *ngIf="false" id="result" class="card border-secondary mb-3">
      <div class="card-header">
        <strong>Result</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <ng-content>
          </ng-content>
        </div>
      </div>
    </div>

  </div>
</li>
<br />