<h4>
  <a id="user-content-component-questions" class="anchor" aria-hidden="true" href="#component-questions">
  </a>Component Questions:</h4>
<ul>
  <aiq-question appQuestion>What is the minimum definition of a component?
    <div appAnswer>
      <p>A class with the '@Component' decorator and an HTML template.</p>
    </div>
  </aiq-question>
  <aiq-question appQuestion>What is the difference between a component and a directive?</aiq-question>
  <aiq-question appQuestion>How do components communicate with each other?</aiq-question>
  <aiq-question appQuestion>How do you create two way data binding in Angular?</aiq-question>
  <aiq-question appQuestion>How would you create a component to display error messages throughout your application?</aiq-question>
  <aiq-question appQuestion>What does a lean component mean to you?</aiq-question>
</ul>