<div *ngIf="snippets.HasSnippets">
  <div id="codeSnippet" *ngIf="snippets.TypeScriptSnippet" class="card border-secondary mb-3">
    <div class="card-header" style=" padding-top: 0px; padding-bottom: 0px; ">
      <strong>*.ts</strong>
    </div>
    <div class="card-body">
      <pre style="margin: 0px;">
          <code style="margin: 0px;">
{{snippets.TypeScriptSnippet}}
          </code>
        </pre>
    </div>
  </div>

  <div id="cssSnippet" *ngIf="snippets.CssSnippet" class="card border-secondary mb-3" style="margin-top: 4px;">
    <div class="card-header" style=" padding-top: 5px; padding-bottom: 0px; ">
      <strong>*.css</strong>
    </div>
    <div class="card-body" style=" padding-top: 0px; padding-bottom: 0px; ">
      <pre style="margin: 0px; padding: 0px;">
              <code style="margin: 0px; padding: 0px;">
    {{snippets.CssSnippet}}
              </code>
            </pre>
    </div>
  </div>

  <div id="htmlSnippet" *ngIf="snippets.HtmlSnippet" class="card border-secondary mb-3" style="margin-top: 4px;">
    <div class="card-header" style=" padding-top: 5px; padding-bottom: 0px; ">
      <strong>*.html</strong>
    </div>
    <div class="card-body" style=" padding-top: 0px; padding-bottom: 0px; ">
      <pre style="margin: 0px; padding: 0px;">
          <code style="margin: 0px; padding: 0px;">
{{snippets.HtmlSnippet}}
          </code>
        </pre>
    </div>
  </div>


</div>