<h4>
  <a id="user-content-fun-questions" class="anchor" aria-hidden="true" href="#fun-questions">
  </a>Fun Questions:</h4>
<ul>
  <aiq-question>What's a cool project that you've recently worked on?</aiq-question>
  <aiq-question>What are some things you like about the developer tools you use?</aiq-question>
  <aiq-question>Who inspires you in the angular community?</aiq-question>
  <aiq-question>Do you have any pet projects? What kind?</aiq-question>
  <aiq-question>How did you design the architecture of your project?</aiq-question>
  <aiq-question>What's your favorite feature of Angular?</aiq-question>
  <aiq-question>What is your least favorite thing about Angular? (Please share your thoughts by making a pull request to
    <a href="https://github.com/Yonet/Angular-Interview-Questions/blob/master/angularFeelings.md">angularFeelings</a>)</aiq-question>
  <aiq-question>How do you like your coffee?</aiq-question>
  <aiq-question>If you could decide on a new feature for angular, what would it be?</aiq-question>
</ul>