<h4>
  <a id="user-content-router-questions" class="anchor" aria-hidden="true" href="#router-questions">
  </a>Router Questions:</h4>
<ul>
  <div>What is the difference between RouterModule.forRoot() vs RouterModule.forChild()? Why is it
    important?</div>
  <div>How does loadChildren property work?</div>
  <div>Do you need a Routing Module? Why/not?</div>
  <div>When does a lazy loaded module is loaded?</div>
  <div>Below link doesn't work. Why? How do I fix it?</div>
</ul>
<div class="highlight highlight-text-html-basic">
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">routerLink</span>=<span class="pl-s"><span class="pl-pds">'</span>product.id<span class="pl-pds">'</span></span>&gt;&lt;/<span class="pl-ent">div</span>&gt;</pre>
</div>
<ul>
  <div>Can you explain the difference between ActivatedRoute and RouterState?</div>
  <div>How do you debug router?</div>
  <div>Why do we need route guards?</div>
  <div>What is a RouterOutlet?</div>
</ul>