<h4>
  <a id="user-content-router-questions" class="anchor" aria-hidden="true" href="#router-questions">
  </a>Router Questions:</h4>
<ul>
  <aiq-question>What is the difference between RouterModule.forRoot() vs RouterModule.forChild()? Why is it
    important?</aiq-question>
  <aiq-question>How does loadChildren property work?</aiq-question>
  <aiq-question>Do you need a Routing Module? Why/not?</aiq-question>
  <aiq-question>When does a lazy loaded module is loaded?</aiq-question>
  <aiq-question>Below link doesn't work. Why? How do I fix it?</aiq-question>
</ul>
<div class="highlight highlight-text-html-basic">
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">routerLink</span>=<span class="pl-s"><span class="pl-pds">'</span>product.id<span class="pl-pds">'</span></span>&gt;&lt;/<span class="pl-ent">div</span>&gt;</pre>
</div>
<ul>
  <aiq-question>Can you explain the difference between ActivatedRoute and RouterState?</aiq-question>
  <aiq-question>How do you debug router?</aiq-question>
  <aiq-question>Why do we need route guards?</aiq-question>
  <aiq-question>What is a RouterOutlet?</aiq-question>
</ul>