<h4>
  <a id="user-content-structural-directives-questions" class="anchor" aria-hidden="true" href="#structural-directives-questions">
  </a>Structural Directives Questions:</h4>
<ul>
  <aiq-question>What is a structural directive?</aiq-question>
  <aiq-question>How do you identify a structural directive in html?</aiq-question>
  <aiq-question>When creating your own structural directives, how would you decide on hiding or removing an element? What would be the
    advantages or disadvantages of choosing one method rather than the other?</aiq-question>
</ul>