<h4>
  <a id="user-content-javascript-questions" class="anchor" aria-hidden="true" href="#javascript-questions">
  </a>JavaScript Questions:</h4>
<ul>
  <aiq-question>Explain the difference between var, let and const key words.</aiq-question>
  <aiq-question>Could you make sure a const value is garbage collected?</aiq-question>
  <aiq-question>Explain Object.assign and possible use cases.</aiq-question>
  <aiq-question>Explain Object.freeze and possible use cases.</aiq-question>
  <aiq-question>Explain the code below. How many times the createVal function is called?</aiq-question>
</ul>
<div class="highlight highlight-source-ts">
  <pre><span class="pl-k">function</span> createVal(){{ '{' }}
    <span class="pl-k">return</span> <span class="pl-c1">Math</span>.<span class="pl-c1">random</span>();
  {{ '}' }};
  
  <span class="pl-k">function</span> fun( <span class="pl-v">val</span> <span class="pl-k">=</span>  <span class="pl-en">createVal</span>()){{ '{' }}
    <span class="pl-c"><span class="pl-c">//</span> Do something with val...</span>
  <span class="pl-c"></span>{{ '}' }}
  
  <span class="pl-en">fun</span>();
  <span class="pl-en">fun</span>(<span class="pl-c1">5</span>);
  </pre>
</div>
<ul>
  <aiq-question>What is the spread operator doing in this function call? Seriously!</aiq-question>
</ul>
<pre><code>doStuff(...args);
    </code></pre>