<h4>
  <a id="user-content-general-questions" class="anchor" aria-hidden="true" href="#general-questions">
  </a>General Questions:</h4>
<ul>
  <div>What did you learn about Angular yesterday/this week?</div>
  <div>What are some of the reasons you would choose to use Angular in your project?</div>
  <div>What did you like about working with Angular?</div>
  <div>How do you keep your Angular code more readable and maintainable?</div>
  <div>What does testable code mean to you in context of Angular?</div>
  <div>What does reusable code mean to you in context of Angular?</div>
</ul>