<h4>
  <a id="user-content-architecture-questions" class="anchor" aria-hidden="true" href="#architecture-questions">
  </a>Architecture Questions:</h4>
<ul>
  <div>What is a good use case for ngrx/store?</div>
  <div>What is a good use case for ngrx/entity?</div>
  <div>Can you talk about a bug related to a race condition, how to solve it and how to test it?
  </div>
  <div>What is the difference between a smart/container component and dumb/presentational component?
    What
    is a good use case example?
    What are the advantages?</div>
</ul>