<h4>
  <a id="user-content-template-syntax-questions" class="anchor" aria-hidden="true" href="#template-syntax-questions">
  </a>Template Syntax Questions:</h4>

<ul>
  <div>
    <div class="col-3">
      <div class="card">
        <div class="card-header"><em>Used for validation:</em></div>
        <div class="card-body">
          <label>Input:
            <input placeholder="This text is required." class="form-control" [class.is-invalid]="textInput01.invalid"
              required maxlength="100" minlength="3" (change)="true" (keyup)="0" (select)="0" [ngModel]
              name="textInput01" #textInput01="ngModel" type="text">
          </label>
          <div class="d-block invalid-feedback" *ngIf="textInput01.invalid">Required</div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header"><em>Observing the control:</em></div>
        <div class="card-body">
          <label>Simply observing the <em>value</em> of the control:
            <input class="form-control" [class.is-valid]="textInput01.valid"
              placeholder="Modify required text to update." type="text" readonly disabled [ngModel]="textInput01.value">
          </label>
          <label>Simply observing the <em>state</em> of the control:
            <input class="form-control" [class.is-invalid]="textInput01.invalid" [class.is-valid]="textInput01.valid"
              placeholder="Modify required text to update." type="text" readonly disabled [ngModel]="observedStatus">
          </label>
        </div>
      </div>
    </div>
  </div>



  <div>How can you add an active class to a selected element in a list component?
  </div>

  <div>What is a template reference variable. How would you use it?
    <aiq-answer>
      <aiq-code-snippet-obsolete header="*.html">
        <pre>
    &lt;input (change)="true" (keyup)="0" (select)="0" #textInput type="text"&gt;
    &lt;label&gt;Template Reference Varible: {{ "{" }}{{ "{" }}textInput.value{{ "}" }}{{ "}" }}
    &lt;/label&gt;
        </pre>
      </aiq-code-snippet-obsolete>

      <aiq-example header="Result">
        <div class="col-4">
          <label>Input:
            <input placeholder="Input" class="form-control" (change)="true" (keyup)="0" (select)="0" #textInput
              type="text">
          </label>
        </div>
        <div class="col-4">
          <label>Template Reference Varible:
            <input class="form-control" placeholder="Type Input to update." type="text" readonly disabled
              [ngModel]="textInput.value">
          </label>
        </div>
      </aiq-example>
    </aiq-answer>
  </div>

  <div>What is the difference of using a property binding verses a function binding on a template?
    <aiq-answer>
      <div class="card border-secondary mb-3">
        <div class="card-header">
          <strong>*.ts</strong>
        </div>
        <div class="card-body">
          <pre style="margin: 0px;">
        <code style="margin: 0px;">
    private _bound: string = "Bound Text."; 
    
    //get property
    get boundString(): string {{ "{" }} 
      return this._bound; 
    {{ "}" }} 
    
    //get function
    getBoundString(): string {{ "{" }} 
      return this._bound; 
    {{ "}" }}
          </code>
          </pre>
        </div>
      </div>

      <div class="card border-secondary mb-3">
        <div class="card-header">
          <strong>*.html</strong>
        </div>
        <div class="card-body">
          <pre style="margin: 0px;">
        <code>
    &lt;input type="text" readonly [ngModel]="boundString" /&gt;
    &lt;input type="text" readonly [ngModel]="getBoundString()" /&gt;
        </code>
        </pre>
        </div>
      </div>

      <div class="card border-secondary mb-3">
        <div class="card-header">
          <strong>Result</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label>Property Binding:
                <input type="text" [(ngModel)]="boundString" />
              </label>
            </div>
            <div class="col-4">
              <label>Property Binding:
                <input type="text" readonly disabled [ngModel]="boundString" />
              </label>
            </div>
            <div class="col-4">
              <label>Function Binding:
                <input type="text" readonly disabled [ngModel]="getBoundString()" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </aiq-answer>
  </div>

  <div>What happens if you subscribe to a data source multiple times with async pipe?
    <aiq-answer>
      <aiq-example>
        <ul class="list-group">
          <li *ngFor="let num of _numbers">{{num}}</li>
        </ul>
      </aiq-example>
    </aiq-answer>
  </div>

  <div>What is the difference between ng-content, ng-container and ng-template?</div>

  <div>When you create a data-binding in Angular, are you working with attributes or properties? What is
    the
    difference anyway?</div>

  <div>When can you omit the brackets in template binding?</div>

</ul>