<h4>
  <a id="user-content-fun-questions" class="anchor" aria-hidden="true" href="#fun-questions">
  </a>Fun Questions:</h4>
<ul>
  <div>What's a cool project that you've recently worked on?</div>
  <div>What are some things you like about the developer tools you use?</div>
  <div>Who inspires you in the angular community?</div>
  <div>Do you have any pet projects? What kind?</div>
  <div>How did you design the architecture of your project?</div>
  <div>What's your favorite feature of Angular?</div>
  <div>What is your least favorite thing about Angular? (Please share your thoughts by making a
    pull
    request to
    <a href="https://github.com/Yonet/Angular-Interview-Questions/blob/master/angularFeelings.md">angularFeelings</a>)
  </div>
  <div>How do you like your coffee?</div>
  <div>If you could decide on a new feature for angular, what would it be?
  </div>
</ul>