<h4>
  <a id="user-content-services-questions" class="anchor" aria-hidden="true" href="#services-questions">
  </a>Services Questions:</h4>
<ul>
  <div>What is the use case of services?</div>
  <div>How are the services injected to your application?</div>
  <div>How do you unit test a service with a dependency?</div>
  <div>Why is it a bad idea to create a new service in a component like the one below?
  </div>
</ul>
<div class="highlight highlight-source-ts">
  <pre><span class="pl-k">let</span> service <span class="pl-k">=</span> <span class="pl-k">new</span> <span class="pl-en">DataService</span>();</pre>
</div>