<h4>
  <a id="user-content-pipes-questions" class="anchor" aria-hidden="true" href="#pipes-questions">
  </a>Pipes Questions:</h4>
<ul>
  <aiq-question-li>What is a pure pipe?</aiq-question-li>
  <aiq-question-li>What is an async pipe?</aiq-question-li>
  <aiq-question-li>What kind of data can be used with async pipe?</aiq-question-li>
  <aiq-question-li>How do you create a custom pipe?</aiq-question-li>
  <aiq-question-li>How does async pipe prevents memory leeks?</aiq-question-li>
  <aiq-question-li>What is the difference between pure and impure pipes?</aiq-question-li>
</ul>