<h4>
  <a id="user-content-forms-questions" class="anchor" aria-hidden="true" href="#forms-questions">
  </a>Forms Questions:</h4>
<ul>
  <aiq-question>When do you use template driven vs model driven forms? Why?</aiq-question>
  <aiq-question>How do you submit a form?</aiq-question>
  <aiq-question>What's the difference between
    <code>NgForm</code>,
    <code>FormGroup</code>, and
    <code>FormControl</code>? How do they work together?</aiq-question>
  <aiq-question>What's the advantage of using
    <code>FormBuilder</code>?</aiq-question>
  <aiq-question>How do you add form validation to a form built with
    <code>FormBuilder</code>?</aiq-question>
  <aiq-question>What's the difference between
    <code>dirty</code>,
    <code>touched</code>, and
    <code>pristine</code> on a form element?</aiq-question>
  <aiq-question>How can you access validation errors in the template to display error messages?</aiq-question>
  <aiq-question>What is async validation and how is it done?</aiq-question>
</ul>