<h4>
  <a id="user-content-forms-questions" class="anchor" aria-hidden="true" href="#forms-questions">
  </a>Forms Questions:</h4>
<ul>
  <div>When do you use template driven vs model driven forms? Why?</div>
  <div>How do you submit a form?</div>
  <div>What's the difference between
    <code>NgForm</code>,
    <code>FormGroup</code>, and
    <code>FormControl</code>? How do they work together?</div>
  <div>What's the advantage of using
    <code>FormBuilder</code>?</div>
  <div>How do you add form validation to a form built with
    <code>FormBuilder</code>?</div>
  <div>What's the difference between
    <code>dirty</code>,
    <code>touched</code>, and
    <code>pristine</code> on a form element?</div>
  <div>How can you access validation errors in the template to display error messages?
  </div>
  <div>What is async validation and how is it done?</div>
</ul>