<h4>
  <a id="user-content-animations-questions" class="anchor" aria-hidden="true" href="#animations-questions">
  </a>Animations Questions:</h4>
<ul>
  <aiq-question>How do you define transition between two states in Angular?
    <aiq-answer>
      <ul class="list-group md-2">
        <li class="list-group-item" *ngFor="let hero of heroes" [@heroState]="hero.state" (click)="hero.toggleState()">
          {{hero.name}}: {{hero.state}}
        </li>
      </ul>
    </aiq-answer>
  </aiq-question>
  <br>
  <aiq-question>How do you define a wildcard state?
    <aiq-answer>
      <ul class="list-group md-2">
        <li class="list-group-item" *ngFor="let hero of heroes" [@heroWildcardState]="hero.state"
          (click)="hero.toggleState()">
          {{hero.name}}: {{hero.state}}
        </li>
      </ul>
    </aiq-answer>
  </aiq-question>
</ul>