<h4>
  <a id="user-content-component-interaction--state-management-questions" class="anchor" aria-hidden="true" href="#component-interaction--state-management-questions">
  </a>Component Interaction &amp; State Management Questions:</h4>
<ul>
  <aiq-question>How would you pass data from a parent component to a child component?</aiq-question>
  <aiq-question>How would you pass data from a child component to a parent component?</aiq-question>
  <aiq-question>Which components will be notified when an event is emitted?</aiq-question>
  <aiq-question>Tell me about the different ways how you would get data to your components from a service and talk about why would you
    use one way vs the other?</aiq-question>
  <aiq-question>How would you use cached data?</aiq-question>
</ul>